# Supabase project settings → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://eegzeqljmpnkptltirdk.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_2QGq3JYiwu3DO8H1nHjs1Q_lYtMNjC1
